<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminMapper">
<resultMap type="Member" id="memberMap">
<id property="email" column="EMAIL" />
<result property="name" column="NAME"/>
<result property="password" column="PASSWORD"/>
<result property="profile_img" column="PROFILE_IMG"/>
<result property="enroll_date" column="ENROLL_DATE"/>
</resultMap>

<select id = "selectMemberList" resultMap="memberMap">
	SELECT EMAIL, NAME, PASSWORD, PROFILE_IMG, ENROLL_DATE
	FROM MEMBER
	ORDER BY ENROLL_DATE DESC
</select>

<select id="searchMemberList" resultMap="memberMap">

	SELECT * 
	FROM(SELECT CEIL(ROWNUM/10) AS NUM1, EMAIL, NAME, PASSWORD, PROFILE_IMG, ENROLL_DATE
	FROM(SELECT * FROM MEMBER ORDER BY ENROLL_DATE DESC))
	WHERE NAME LIKE '%'||#{keyword}||'%' OR EMAIL LIKE '%'||#{keyword}||'%'
	
</select>

 <select id="TotalCount" resultType="int">
	SELECT COUNT(*) FROM MEMBER
</select>

<select id="selectMemberList2" resultMap="memberMap">
 	SELECT * 
	FROM(SELECT CEIL(ROWNUM/10) AS NUM1, EMAIL, NAME, PASSWORD, PROFILE_IMG, ENROLL_DATE
	FROM(SELECT * FROM MEMBER ORDER BY ENROLL_DATE DESC))
	WHERE NUM1 = #{no}
</select> 
			
			
<resultMap type="Project" id="projectMap">
<id property="email" column="EMAIL" />
<result property="projectCode" column="P_PROJECT_CODE"/>
<result property="title" column="P_TITLE"/>
<result property="repImg" column="P_REP_IMG"/>
<result property="summary" column="P_SUMMARY"/>
<result property="category" column="P_CATEGORY"/>
<result property="profileImg" column="P_PROFILE_IMG"/>
<result property="name" column="P_NAME"/>
<result property="introduce" column="P_INTRODUCE"/>
<result property="price" column="P_PRICE"/>
<result property="endDate" column="P_END_DATE"/>
<result property="giftItem" column="P_GIFT_ITEM"/>
<result property="refund" column="P_REFUND"/>
<result property="descriptionVideo" column="P_DESCRIPTION_VIDEO"/>
<result property="story" column="P_STORY"/>
<result property="pEmail" column="P_EMAIL"/>
<result property="pPhone" column="P_PHONE"/>
<result property="bankTrading" column="P_BANK_TRADING"/>
<result property="bankName" column="P_BANK_NAME"/>
<result property="bankNumber" column="P_BANK_NUMBER"/>
<result property="bankKinds" column="P_BANK_KINDS"/>
<result property="pConfirm" column="P_OK"/>
<result property="sendConfirm" column="P_SEND_CONFIRM"/>
<result property="currentAmount" column="P_CURRENTAMOUNT"/>
</resultMap>

<select id = "selectProjectList" resultMap="projectMap">
SELECT EMAIL, P_PROJECT_CODE, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
 P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
 P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT
FROM PROJECT
WHERE P_OK = 'F'
</select>

<select id = "projectTotalCount" resultType="int">
	SELECT COUNT(*) FROM PROJECT
</select>





















</mapper>