<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminMapper">
<resultMap type="Member" id="memberMap">
<id property="email" column="EMAIL" />
<result property="name" column="NAME"/>
<result property="password" column="PASSWORD"/>
<result property="profil_img" column="PROFILE_IMG"/>
<result property="enroll_date" column="ENROLL_DATE"/>
</resultMap>

<select id = "selectMemberList" resultMap="memberMap">
	SELECT EMAIL, NAME, PASSWORD, PROFILE_IMG, ENROLL_DATE
	FROM MEMBER
	ORDER BY ENROLL_DATE DESC
</select>

<select id="searchMemberList" resultMap="memberMap">

	SELECT * 
	FROM(SELECT CEIL(ROWNUM/10) AS NUM1, EMAIL, NAME, PASSWORD, PROFILE_IMG, ENROLL_DATE
	FROM(SELECT * FROM MEMBER ORDER BY ENROLL_DATE DESC))
	WHERE NAME LIKE '%'||#{keyword}||'%' OR EMAIL LIKE '%'||#{keyword}||'%'
	
</select>

 <select id="TotalCount" resultType="int">
	SELECT COUNT(*) FROM MEMBER
</select>

<select id="selectMemberList2" resultMap="memberMap">
 	SELECT * 
	FROM(SELECT CEIL(ROWNUM/10) AS NUM1, EMAIL, NAME, PASSWORD, PROFILE_IMG, ENROLL_DATE
	FROM(SELECT * FROM MEMBER ORDER BY ENROLL_DATE DESC))
	WHERE NUM1 = #{no}
</select> 
			
























</mapper>