<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminMapper">
<resultMap type="Member" id="memberMap">
<id property="email" column="EMAIL" />
<result property="name" column="NAME"/>
<result property="password" column="PASSWORD"/>
<result property="profile_img" column="PROFILE_IMG"/>
<result property="enroll_date" column="ENROLL_DATE"/>
<result property="stopDate" column="STOP_DATE"/>
<result property="location" column="LOCATION"/>
<result property="shortDescription" column="SHORTDESCRIPTION"/>
<result property="homepage" column="HOMEPAGE"/>
<result property="phone1" column="PHONE1"/>
<result property="phone2" column="PHONE2"/>
<result property="phone3" column="PHONE3"/>
<result property="stopDate" column="STOP_DATE"/>
</resultMap>

<select id = "selectMemberList" resultMap="memberMap">
	SELECT EMAIL, NAME, PASSWORD, PROFILE_IMG, ENROLL_DATE,STOP_DATE
	FROM MEMBER
	ORDER BY ENROLL_DATE DESC
</select>

<select id="searchMemberList" resultMap="memberMap">
	SELECT * 
	FROM(SELECT CEIL(ROWNUM/10) AS NUM1, EMAIL, NAME, PASSWORD, PROFILE_IMG, ENROLL_DATE,STOP_DATE
	FROM(SELECT * FROM MEMBER WHERE NAME LIKE '%'||#{keyword}||'%' OR EMAIL LIKE '%'||#{keyword}||'%'))
	WHERE NUM1 = #{no}
</select>

 <select id="TotalCount" resultType="int">
	SELECT COUNT(*) FROM MEMBER
</select>

<select id="searchMemberCount" resultType="int">
	SELECT COUNT(*) FROM MEMBER WHERE NAME LIKE '%'||#{keyword}||'%' OR EMAIL LIKE '%'||#{keyword}||'%'
</select>

<select id="selectMemberList2" resultMap="memberMap">
 	SELECT * 
	FROM(SELECT CEIL(ROWNUM/10) AS NUM1, EMAIL, NAME, PASSWORD, PROFILE_IMG, ENROLL_DATE,STOP_DATE,LOCATION
	FROM(SELECT * FROM MEMBER ORDER BY ENROLL_DATE DESC))
	WHERE NUM1 = #{no}
</select> 

<update id="stopDate" >
UPDATE MEMBER SET STOP_DATE = SYSDATE+3 WHERE EMAIL = #{email}
</update>

<select id="memberDetail" resultMap="memberMap">
	SELECT *
	FROM MEMBER
	WHERE EMAIL = #{email}
</select>
			
			
<resultMap type="Project" id="projectMap">
<id property="email" column="EMAIL" />
<result property="projectCode" column="P_PROJECT_CODE"/>
<result property="projectNum" column="P_PROJECT_NUMBER"/>
<result property="title" column="P_TITLE"/>
<result property="repImg" column="P_REP_IMG"/>
<result property="summary" column="P_SUMMARY"/>
<result property="category" column="P_CATEGORY"/>
<result property="profileImg" column="P_PROFILE_IMG"/>
<result property="name" column="P_NAME"/>
<result property="introduce" column="P_INTRODUCE"/>
<result property="price" column="P_PRICE"/>
<result property="endDate" column="P_END_DATE"/>
<result property="giftItem" column="P_GIFT_ITEM"/>
<result property="refund" column="P_REFUND"/>
<result property="descriptionVideo" column="P_DESCRIPTION_VIDEO"/>
<result property="story" column="P_STORY"/>
<result property="pEmail" column="P_EMAIL"/>
<result property="pPhone" column="P_PHONE"/>
<result property="bankTrading" column="P_BANK_TRADING"/>
<result property="bankName" column="P_BANK_NAME"/>
<result property="bankNumber" column="P_BANK_NUMBER"/>
<result property="bankKinds" column="P_BANK_KINDS"/>
<result property="pConfirm" column="P_OK"/>
<result property="sendConfirm" column="P_SEND_CONFIRM"/>
<result property="currentAmount" column="P_CURRENTAMOUNT"/>
<result property="enrollDate" column="P_ENROLL_DATE"/>
</resultMap>



<select id = "selectProjectList" resultMap="projectMap">
	SELECT * 
	FROM(SELECT CEIL(ROWNUM/10) AS NUM1,EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
				P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
 			P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
 			P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT
 	FROM(SELECT * FROM PROJECT WHERE  P_OK = '1'  ORDER BY P_PROJECT_CODE))
	WHERE NUM1 = #{pNo}
</select>

<select id = "projectTotalCount" resultType="int">
	SELECT COUNT(*) FROM PROJECT
	WHERE P_OK = '1'
</select>

<select id = "searchProject" resultMap = "projectMap">
	SELECT * 
	FROM(SELECT CEIL(ROWNUM/10) AS NUM1, EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
			P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
 			P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
 			P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT
	FROM(SELECT * FROM PROJECT WHERE (P_PROJECT_CODE LIKE '%'||#{keyword}||'%' OR P_CATEGORY LIKE '%'||#{keyword}||'%' OR P_TITLE LIKE '%'||#{keyword}||'%') AND P_OK = '1' ORDER BY P_PROJECT_CODE))
	WHERE NUM1 = #{pNo}
</select>

<select id="searchProjectCount" resultType="int">
SELECT COUNT(*) FROM PROJECT WHERE (P_CATEGORY LIKE '%'||#{keyword}||'%' OR P_TITLE LIKE '%'||#{keyword}||'%') AND P_OK = '1'
</select>





<select id="fprojectTotalCount" resultType="int">
<![CDATA[
	SELECT COUNT(*) FROM PROJECT
	WHERE P_OK = '2' AND P_SEND_CONFIRM = 'F' AND
	P_END_DATE - SYSDATE <4
]]>
</select>
	<!--  숫자변경으로 날짜변경가능 , 부등호 사용으로 주석처리추가함-->
	
	<select id="searchfProjectCount" resultType="int">
	<![CDATA[
	SELECT COUNT(*) FROM PROJECT WHERE (P_NAME LIKE '%'||#{keyword}||'%' OR P_TITLE LIKE '%'||#{keyword}||'%') AND P_OK = '2' AND P_SEND_CONFIRM = 'F' AND P_END_DATE - SYSDATE <4
	]]>
	</select>

<select id="selectfProjectList" resultMap="projectMap">
<![CDATA[
	SELECT *
 		FROM (SELECT CEIL(ROWNUM/10) AS NUM1, EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
		P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
 		P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
 		P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT
    FROM (SELECT * FROM PROJECT WHERE P_OK = '2' AND P_SEND_CONFIRM = 'F' AND P_END_DATE - SYSDATE <4 AND P_END_DATE - SYSDATE >-5  ORDER BY P_END_DATE))
    WHERE NUM1 = #{fpNo}
	
	]]>
</select>

<select id="searchfProject" resultMap = "projectMap">
<![CDATA[
	SELECT * 
	FROM(SELECT CEIL(ROWNUM/10) AS NUM1, EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
	P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
 	P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
 	P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT
	FROM(SELECT * FROM PROJECT WHERE (P_PROJECT_CODE LIKE '%'||#{keyword}||'%' OR P_NAME LIKE '%'||#{keyword}||'%' OR P_TITLE LIKE '%'||#{keyword}||'%') AND P_OK = '2' AND P_SEND_CONFIRM = 'F' AND P_END_DATE - SYSDATE <4 ORDER BY P_END_DATE))
	WHERE NUM1 = #{fpNo}
	]]>
</select>

<update id="endDateCheck">
UPDATE PROJECT SET P_SEND_CONFIRM = 'T' WHERE P_PROJECT_CODE = #{pCode}
</update>


<resultMap id="bannerMap" type="Admin">
<id column="BANNER_CODE" property="bannerCode"/>
<result column="BANNER_IMAGE" property="bannerImage"/>
<result column="BANNER_LEVEL" property="bannerLevel"/>
</resultMap>


<resultMap id="bannerMap2" type="Banner">
<id column="EMAIL" property="email"/>
<result column="P_PROJECT_CODE" property="projectCode"/>
<result column="P_PROJECT_NUMBER" property="projectNum"/>
<result column="P_TITLE" property="title"/>
<result column="P_CATEGORY" property="category"/>
<result column="P_PRICE" property="price"/>
<result column="P_END_DATE" property="endDate"/>
<result column="P_CURRENTAMOUNT" property="currentAmount"/>
<result column="BANNER_IMAGE" property="bannerImage"/>
<result column="BANNER_LEVEL" property="bannerLevel"/>
</resultMap>




<select id="bannerProjectList" resultMap="bannerMap2">
SELECT *
FROM (SELECT CEIL(ROWNUM/10) AS NUM1, EMAIL,P_PROJECT_CODE,P_PROJECT_NUMBER,P_TITLE,P_CATEGORY,P_PRICE,P_END_DATE,
P_CURRENTAMOUNT,BANNER_IMAGE,BANNER_LEVEL
FROM(SELECT * FROM PROJECT LEFT JOIN BANNER ON (BANNER_CODE = P_PROJECT_CODE) WHERE P_OK = '2' AND P_SEND_CONFIRM = 'F' AND P_END_DATE >SYSDATE ORDER BY BANNER_LEVEL,P_END_DATE DESC))
WHERE NUM1 =#{bNo} 
</select>


<select id="bannerTotalCount" resultType="int">
SELECT COUNT(*) FROM PROJECT 
WHERE P_OK = '2' AND P_SEND_CONFIRM = 'F' AND P_END_DATE > SYSDATE
</select>

<select id = "searchBannerCount" resultType="int">
SELECT COUNT(*) FROM PROJECT LEFT JOIN BANNER ON (BANNER_CODE = P_PROJECT_CODE)
WHERE (BANNER_LEVEL = 1 OR BANNER_LEVEL = 2 OR BANNER_LEVEL = 3 OR BANNER_LEVEL = 4 OR BANNER_LEVEL = 5) OR P_PROJECT_CODE LIKE '%'||#{keyword}||'%' OR P_TITLE LIKE '%'||#{keyword}||'%'
</select>

<select id="bannerSearchList" resultMap="bannerMap2">
 SELECT * 
 	FROM(SELECT CEIL(ROWNUM/10) AS NUM1, EMAIL,P_PROJECT_CODE,P_PROJECT_NUMBER,P_TITLE,P_CATEGORY,
 			P_PRICE,P_END_DATE,P_CURRENTAMOUNT,BANNER_IMAGE,BANNER_LEVEL,P_OK
  			FROM(SELECT EMAIL,P_PROJECT_CODE,P_PROJECT_NUMBER,P_TITLE,P_CATEGORY,P_PRICE,P_END_DATE,
  						P_CURRENTAMOUNT,BANNER_IMAGE,BANNER_LEVEL,P_OK
  	FROM PROJECT LEFT JOIN BANNER ON (BANNER_CODE = P_PROJECT_CODE) WHERE (BANNER_LEVEL = 1 OR BANNER_LEVEL = 2 OR BANNER_LEVEL = 3 OR BANNER_LEVEL = 4 OR BANNER_LEVEL = 5) OR P_PROJECT_CODE LIKE '%'||#{keyword}||'%' OR P_TITLE LIKE '%'||#{keyword}||'%' ORDER BY BANNER_LEVEL,P_PROJECT_CODE DESC))
  	 WHERE NUM1 = #{bNo} AND P_END_DATE >SYSDATE AND P_OK = '2'
   </select>
   
   <update id="okCheck">UPDATE PROJECT SET P_OK = '2', P_ENROLL_DATE = SYSDATE WHERE P_PROJECT_CODE = #{code}</update>
   
   <update id="noCheck">UPDATE PROJECT SET P_OK = '3' WHERE P_PROJECT_CODE = #{code}</update>





<update id="bannerDelete"> UPDATE BANNER SET BANNER_LEVEL = NULL WHERE BANNER_LEVEL = #{bCode} </update>

<update id="bannerUpdate"> UPDATE BANNER SET BANNER_LEVEL = #{bCode} WHERE BANNER_CODE = #{pCode} </update>

<insert id="imagePlus">
INSERT INTO BANNER VALUES (#{projectCode},#{bannerImage},NULL)
</insert>

<select id="bannerList" resultMap="bannerMap">
SELECT *
FROM BANNER
WHERE BANNER_LEVEL = 1 OR BANNER_LEVEL = 2 OR BANNER_LEVEL = 3 OR BANNER_LEVEL = 4 OR BANNER_LEVEL = 5
ORDER BY BANNER_LEVEL
</select>

<select id = "allPrice" resultType="int">
SELECT SUM(P_PRICE)
FROM PROJECT
WHERE P_OK = '2' AND P_END_DATE >= SYSDATE 
</select>


<select id = "price" resultType="int">
SELECT SUM(P_CURRENTAMOUNT)
FROM PROJECT
WHERE P_OK = '2' AND P_END_DATE >= SYSDATE
</select>

<select id="category1" resultType="int">
SELECT COUNT(P_CATEGORY)
FROM PROJECT
WHERE P_CATEGORY = '게임'
</select>

<select id="category2" resultType="int">
SELECT COUNT(P_CATEGORY)
FROM PROJECT
WHERE P_CATEGORY = '공연'
</select>

<select id="category3" resultType="int">
SELECT COUNT(P_CATEGORY)
FROM PROJECT
WHERE P_CATEGORY = '디자인'
</select>

<select id="category4" resultType="int">
SELECT COUNT(P_CATEGORY)
FROM PROJECT
WHERE P_CATEGORY = '푸드'
</select>

<select id="memberMonth" resultType="int">  
SELECT COUNT(*)
FROM MEMBER
WHERE TO_CHAR(ENROLL_DATE,'YY') = '18' AND TO_CHAR(ENROLL_DATE,'MM') = '08'
</select>

<select id="projectMonth" resultType="int">  
SELECT COUNT(*)
FROM PROJECT
WHERE TO_CHAR(P_ENROLL_DATE,'YY') = '18' AND TO_CHAR(P_ENROLL_DATE,'MM') = '08'
</select>



 <resultMap type="Support" id="supportMap">
<id property="email" column="EMAIL" />
<result property = "projectCode" column = "P_PROJECT_CODE"/>
<result property = "amount" column = "SUPPORTING_AMOUNT"/>
<result property = "gcode" column = "P_GIFT_ITEM"/>
<result property = "date" column = "SUPPORTED_DATE"/>
<result property = "address" column = "ADDRESS"/>
</resultMap> 

<insert id="insertSupport">
INSERT INTO SUPPORT VALUES(#{email},#{pCode},#{amount},#{item},SYSDATE,#{addr})
</insert>

<update id="updateProjectAmount">
UPDATE PROJECT SET P_CURRENTAMOUNT = P_CURRENTAMOUNT+#{amount} WHERE P_PROJECT_CODE = #{pCode}
</update>

<update id="updateSupporter">
UPDATE PROJECT SET P_SPONSOR_COUNT = P_SPONSOR_COUNT+1 WHERE P_PROJECT_CODE = #{pCode}
</update>


















</mapper>