<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="projectMapper">
<!-- <resultMap type="Member" id="memberMap">
<id property="email" column="EMAIL" />
<result property="name" column="NAME"/>
<result property="password" column="PASSWORD"/>
<result property="profil_img" column="PROFILE_IMG"/>
<result property="enroll_date" column="ENROLL_DATE"/>
</resultMap> -->






<insert id="insertProject" parameterType="Member">
	INSERT INTO PROJECT 
	(EMAIL,P_PROJECT_CODE,P_PROJECT_NUMBER,P_NAME,P_EMAIL,P_PRICE,P_OK,P_SEND_CONFIRM,P_CURRENTAMOUNT,P_SPONSOR_COUNT,P_ENROLL_DATE)  
	VALUES
	(#{email},SEQ_P_NUM.NEXTVAL,(select count(*) from project where EMAIL = #{email})+1,#{name},#{email},0,'0','F',0,0,SYSDATE)
</insert>

<insert id="insertGift" parameterType="Gift">
	INSERT INTO GIFT VALUES(#{projectCode},#{email},SEQ_G_NUM.NEXTVAL,#{price},#{description},#{item},#{sendDate},#{remited},#{transferCheck},0)
</insert>
<select id="selectProjectNum" parameterType="string" resultType="int">
	SELECT COUNT(*)  FROM PROJECT 
	WHERE EMAIL = #{userId}
</select>			

<resultMap type="Gift" id="giftMap">
		<id property="giftCode" column="G_CODE"/>
		<result property="email" column="EMAIL_1"/>
		<result property="projectCode" column="P_PROJECT_CODE_0"/>
		<result property="price" column="G_PRICE"/>
		<result property="description" column="G_DESCRIPTION"/>
		<result property="item" column="G_ITEM"/>
		<result property="sendDate" column="G_SEND_DATE"/>
		<result property="remited" column="G_REMITED"/>
		<result property="transferCheck" column="G_TRANSFER_CHECK"/>
		<result property="selectedCount" column="G_SELECTED_COUNT"/>
</resultMap>

<resultMap type="Project" id="projectMap">
<id property="email" column="EMAIL" />
<result property="projectCode" column="P_PROJECT_CODE"/>
<result property="projectNum" column="P_PROJECT_NUMBER"/>
<result property="title" column="P_TITLE"/>
<result property="repImg" column="P_REP_IMG"/>
<result property="summary" column="P_SUMMARY"/>
<result property="category" column="P_CATEGORY"/>
<result property="profileImg" column="P_PROFILE_IMG"/>
<result property="name" column="P_NAME"/>
<result property="introduce" column="P_INTRODUCE"/>
<result property="price" column="P_PRICE"/>
<result property="endDate" column="P_END_DATE"/>
<result property="giftItem" column="P_GIFT_ITEM"/>
<result property="refund" column="P_REFUND"/>
<result property="descriptionVideo" column="P_DESCRIPTION_VIDEO"/>
<result property="story" column="P_STORY"/>
<result property="pEmail" column="P_EMAIL"/>
<result property="pPhone" column="P_PHONE"/>
<result property="bankTrading" column="P_BANK_TRADING"/>
<result property="bankName" column="P_BANK_NAME"/>
<result property="bankNumber" column="P_BANK_NUMBER"/>
<result property="bankKinds" column="P_BANK_KINDS"/>
<result property="pConfirm" column="P_OK"/>
<result property="sendConfirm" column="P_SEND_CONFIRM"/>
<result property="supportCount" column="P_SPONSOR_COUNT"/>
<result property="currentAmount" column="P_CURRENTAMOUNT"/>
<result property="supportCount" column="P_SPONSOR_COUNT"/>
<result property="enrollDate" column="P_ENROLL_DATE"/>
<collection property="giftArry" column="EMAIL" ofType="Gift" resultMap="giftMap"></collection>
</resultMap>
<resultMap type="Project" id="projectMap2">
<id property="email" column="EMAIL" />
<result property="projectCode" column="P_PROJECT_CODE"/>
<result property="projectNum" column="P_PROJECT_NUMBER"/>
<result property="title" column="P_TITLE"/>
<result property="repImg" column="P_REP_IMG"/>
<result property="summary" column="P_SUMMARY"/>
<result property="category" column="P_CATEGORY"/>
<result property="profileImg" column="P_PROFILE_IMG"/>
<result property="name" column="P_NAME"/>
<result property="introduce" column="P_INTRODUCE"/>
<result property="price" column="P_PRICE"/>
<result property="endDate" column="P_END_DATE"/>
<result property="giftItem" column="P_GIFT_ITEM"/>
<result property="refund" column="P_REFUND"/>
<result property="descriptionVideo" column="P_DESCRIPTION_VIDEO"/>
<result property="story" column="P_STORY"/>
<result property="pEmail" column="P_EMAIL"/>
<result property="pPhone" column="P_PHONE"/>
<result property="bankTrading" column="P_BANK_TRADING"/>
<result property="bankName" column="P_BANK_NAME"/>
<result property="bankNumber" column="P_BANK_NUMBER"/>
<result property="bankKinds" column="P_BANK_KINDS"/>
<result property="pConfirm" column="P_OK"/>
<result property="sendConfirm" column="P_SEND_CONFIRM"/>
<result property="currentAmount" column="P_CURRENTAMOUNT"/>
<result property="supportCount" column="P_SPONSOR_COUNT"/>
<result property="enrollDate" column="P_ENROLL_DATE"/>
</resultMap>

<select id="selectProjectList" resultMap="projectMap2" parameterType="string" >
SELECT EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT,P_SPONSOR_COUNT,P_ENROLL_DATE
FROM PROJECT
ORDER BY P_SPONSOR_COUNT DESC
</select>

<select id="selectPopularList" resultMap="projectMap2">
SELECT EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT,P_SPONSOR_COUNT,P_ENROLL_DATE
FROM (
SELECT EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT,P_SPONSOR_COUNT,P_ENROLL_DATE, ROW_NUMBER() OVER(PARTITION BY P_CATEGORY  ORDER BY P_SPONSOR_COUNT DESC) as RowIdx
FROM PROJECT
) 
WHERE RowIdx Between 1 and 5 AND P_OK=2
</select>

<select id="selectindex_popularList" parameterType="int" resultMap="projectMap2">
SELECT * 
FROM (SELECT EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
			            P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
			            P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
			            P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT,P_SPONSOR_COUNT,P_ENROLL_DATE, ROWNUM AS R_NUM
			FROM (SELECT EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
						            P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
						            P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
						            P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT,P_SPONSOR_COUNT,P_ENROLL_DATE, ROW_NUMBER() OVER(PARTITION BY P_CATEGORY  ORDER BY P_SPONSOR_COUNT DESC) AS ROWIDX
			            FROM PROJECT) 
			WHERE ROWIDX Between 1 and 5)
WHERE R_NUM BETWEEN #{btnIdx} AND (#{btnIdx} + 3) AND P_OK =2
</select>

<select id = "selectProjectDetail" resultMap="projectMap" parameterType="int">
SELECT EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
	P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
	P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
	P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT, P_SPONSOR_COUNT
FROM PROJECT 
WHERE P_PROJECT_CODE = #{projectCode}
</select>

<select id="selectSupportedCount" parameterType="string" resultType="int">
	SELECT COUNT(*) AS COUNT 
	FROM SUPPORT 
	WHERE EMAIL = #{email}
</select>

<select id="searchProjectByKeyword" parameterType="string" resultMap="projectMap2">
    SELECT * FROM PROJECT 
    WHERE P_TITLE LIKE '%' || #{keyword} || '%'
    OR P_CATEGORY LIKE '%' || #{keyword} || '%'
</select>

<select id="searchProjectByCategory" parameterType="string" resultMap="projectMap2">
    SELECT * FROM PROJECT 
    WHERE P_CATEGORY LIKE '%' || #{category} || '%'
</select>

<select id="searchProjectByHashtag" parameterType="string" resultMap="projectMap2">
    SELECT * FROM PROJECT 
    WHERE P_STORY LIKE '%' || #{tag} || '%'
    OR P_NAME LIKE '%' || #{tag} || '%'
</select>

<select id="projectListOrderByDeadline" resultMap="projectMap2">
    SELECT * 
    FROM PROJECT
    WHERE P_OK= 2
	ORDER BY (P_END_DATE - SYSDATE)
</select>

<select id="projectListOrderByEnrollDate" resultMap="projectMap2">
    SELECT * 
    FROM PROJECT
    WHERE P_OK= 2
	ORDER BY P_ENROLL_DATE DESC
</select>

<select id="checkSupportFlag" parameterType="Support" resultType="int">
    SELECT COUNT(*) 
    FROM SUPPORT
	WHERE P_PROJECT_CODE = #{projectCode}
	AND EMAIL = #{email}
</select>


<select id="selectindex_enrollDateList" resultMap="projectMap2" parameterType="int">
SELECT *
from(select EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
			            P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
			            P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
			            P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT,P_SPONSOR_COUNT,P_ENROLL_DATE , ROWNUM AS R_NUM
FROM ( SELECT EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
			            P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
			            P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
			            P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT,P_SPONSOR_COUNT,P_ENROLL_DATE
                        FROM PROJECT
                        ORDER BY P_ENROLL_DATE DESC))
WHERE R_NUM BETWEEN #{btnIdx1} AND (#{btnIdx1} + 3) AND P_OK =2
</select>
<select id="selectindex_DeadlineList" resultMap="projectMap2" parameterType="int">
SELECT *
FROM(SELECT EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
			            P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
			            P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
			            P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT,P_SPONSOR_COUNT,P_ENROLL_DATE , ROWNUM AS R_NUM
                        FROM (SELECT EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
			            P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
			            P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
			            P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT,P_SPONSOR_COUNT,P_ENROLL_DATE
                        FROM PROJECT
                        ORDER BY (P_END_DATE - SYSDATE)))
WHERE R_NUM BETWEEN #{btnIdx2} AND (#{btnIdx2} + 3) AND P_OK =2
</select>




<select id="selectProjectGift" resultMap="projectMap" parameterType="int">
SELECT P.EMAIL EMAIL,
P.P_PROJECT_CODE P_PROJECT_CODE,
P.P_PROJECT_NUMBER P_PROJECT_NUMBER,
P.P_TITLE P_TITLE,
P.P_REP_IMG P_REP_IMG,
P.P_SUMMARY P_SUMMARY,
P.P_CATEGORY P_CATEGORY,
P.P_PROFILE_IMG P_PROFILE_IMG,
P.P_NAME P_NAME,
P.P_INTRODUCE P_INTRODUCE,
P.P_PRICE P_PRICE,
P.P_END_DATE P_END_DATE,
P.P_GIFT_ITEM P_GIFT_ITEM,
P.P_REFUND P_REFUND,
P.P_DESCRIPTION_VIDEO P_DESCRIPTION_VIDEO,
P.P_STORY P_STORY,
P.P_EMAIL P_EMAIL,
P.P_PHONE P_PHONE,
P.P_BANK_TRADING P_BANK_TRADING,
P.P_BANK_NAME P_BANK_NAME,
P.P_BANK_NUMBER P_BANK_NUMBER,
P.P_BANK_KINDS P_BANK_KINDS,
P.P_OK P_OK,
P.P_SEND_CONFIRM P_SEND_CONFIRM,
P.P_CURRENTAMOUNT P_CURRENTAMOUNT,
P.P_SPONSOR_COUNT P_SPONSOR_COUNT,
P.P_ENROLL_DATE P_ENROLL_DATE,
G.P_PROJECT_CODE P_PROJECT_CODE_0,
G.EMAIL EMAIL_1,
G.G_CODE,
G.G_PRICE G_PRICE,
G.G_DESCRIPTION G_DESCRIPTION,
G.G_ITEM G_ITEM,
G.G_SEND_DATE G_SEND_DATE,
G.G_REMITED G_REMITED,
G.G_TRANSFER_CHECK G_TRANSFER_CHECK,
G.G_SELECTED_COUNT 
FROM PROJECT P
LEFT JOIN GIFT G ON(P.P_PROJECT_CODE=G.P_PROJECT_CODE)
WHERE P.P_PROJECT_CODE=#{projectCode}
</select>

<select id="selectOneGiftList" resultMap="projectMap" parameterType="int">
SELECT P.EMAIL EMAIL,
P.P_PROJECT_CODE P_PROJECT_CODE,
P.P_PROJECT_NUMBER P_PROJECT_NUMBER,
P.P_TITLE P_TITLE,
P.P_REP_IMG P_REP_IMG,
P.P_SUMMARY P_SUMMARY,
P.P_CATEGORY P_CATEGORY,
P.P_PROFILE_IMG P_PROFILE_IMG,
P.P_NAME P_NAME,
P.P_INTRODUCE P_INTRODUCE,
P.P_PRICE P_PRICE,
P.P_END_DATE P_END_DATE,
P.P_GIFT_ITEM P_GIFT_ITEM,
P.P_REFUND P_REFUND,
P.P_DESCRIPTION_VIDEO P_DESCRIPTION_VIDEO,
P.P_STORY P_STORY,
P.P_EMAIL P_EMAIL,
P.P_PHONE P_PHONE,
P.P_BANK_TRADING P_BANK_TRADING,
P.P_BANK_NAME P_BANK_NAME,
P.P_BANK_NUMBER P_BANK_NUMBER,
P.P_BANK_KINDS P_BANK_KINDS,
P.P_OK P_OK,
P.P_SEND_CONFIRM P_SEND_CONFIRM,
P.P_CURRENTAMOUNT P_CURRENTAMOUNT,
P.P_SPONSOR_COUNT P_SPONSOR_COUNT,
P.P_ENROLL_DATE P_ENROLL_DATE,
G.P_PROJECT_CODE P_PROJECT_CODE_0,
G.EMAIL EMAIL_1,
G.G_CODE,
G.G_PRICE G_PRICE,
G.G_DESCRIPTION G_DESCRIPTION,
G.G_ITEM G_ITEM,
G.G_SEND_DATE G_SEND_DATE,
G.G_REMITED G_REMITED,
G.G_TRANSFER_CHECK G_TRANSFER_CHECK,
G.G_SELECTED_COUNT 
FROM PROJECT P
LEFT JOIN GIFT G ON(P.P_PROJECT_CODE=G.P_PROJECT_CODE)
WHERE G_CODE=#{giftCode}
</select>



<select id = "selectProject" resultMap="projectMap" parameterType="hashmap">
SELECT EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
 P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
 P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT, P_SPONSOR_COUNT
FROM PROJECT WHERE  EMAIL = #{userId} AND P_PROJECT_NUMBER = #{projectNum}
</select>

<select id="selectMyProjectList" resultMap="projectMap2" parameterType="Member" >
SELECT EMAIL, P_PROJECT_CODE,P_PROJECT_NUMBER, P_TITLE, P_REP_IMG, P_SUMMARY, P_CATEGORY, P_PROFILE_IMG, 
P_NAME, P_INTRODUCE, P_PRICE, P_END_DATE, P_GIFT_ITEM, P_REFUND, P_DESCRIPTION_VIDEO,
P_STORY, P_EMAIL, P_PHONE, P_BANK_TRADING, P_BANK_NAME, P_BANK_NUMBER, P_BANK_KINDS, 
P_OK, P_SEND_CONFIRM, P_CURRENTAMOUNT,P_SPONSOR_COUNT,P_ENROLL_DATE
FROM PROJECT
WHERE EMAIL = #{email}
</select>

<update id="updateProject" parameterType="Project">
	UPDATE PROJECT
	<choose>
    	<when test="updateNum == 1">
     	 SET P_TITLE =#{title}
    	</when>
    	
      	<when test="updateNum ==2">
      	SET P_REP_IMG = #{repImg}
      	</when>
      	
      	<when test="updateNum==3">
      	SET P_SUMMARY = #{summary}
      	</when>
      	
      	<when test="updateNum==4">
      	SET P_CATEGORY = #{category}
      	</when>
      	
      	<when test="updateNum==5">
      	SET P_PROFILE_IMG = #{profileImg}
      	</when>
      	
      	<when test="updateNum==6">
      	SET P_NAME = #{name}
      	</when>
      	
      	<when test="updateNum==7">
      	SET P_INTRODUCE = #{introduce}
      	</when>
      	
      	<when test="updateNum==8">
      	SET P_PRICE = #{price}
      	</when>
      	
      	<when test="updateNum==9">
      	SET P_END_DATE = #{endDate}
      	</when>
      	
      	<when test="updateNum==10">
      	SET P_GIFT_ITEM = #{giftItem}
      	</when>
      	
      	<when test="updateNum==11">
      	SET P_REFUND = #{refund}
      	</when>
      	<when test="updateNum==13">
      	SET P_PHONE = #{pPhone}
      	</when>
      	<when test="updateNum==14">
      	SET P_BANK_TRADING = #{bankTrading} ,P_BANK_NAME =#{bankName} ,P_BANK_NUMBER= #{bankNumber},P_BANK_KINDS=#{bankKinds}
      	</when>
      	<when test="updateNum==15">
      	SET P_STORY = #{story}
      	</when>
      	<when test="updateNum==16">
      	SET P_DESCRIPTION_VIDEO = #{descriptionVideo}
      	</when>
      	<when test="updateNum==17">
      	SET P_OK = '1'
      	</when>
      	<otherwise>
      	
      	
    	</otherwise>
	</choose>
	 WHERE P_PROJECT_CODE=#{projectCode}
</update>

<delete id="deleteProjectGift" parameterType="int">
	DELETE FROM GIFT WHERE G_CODE = #{giftCode}
</delete>





</mapper>