<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- http://www.mybatis.org/mybatis-3/ko/configuration.html#settings  -->

 <settings>
 	<setting name="jdbcTypeForNull" value="NULL"/> 	
 	
 </settings>


  <typeAliases>
  	<typeAlias type="com.tikitaka.cloudFunding.member.model.vo.Member" alias="Member"/>
  	<typeAlias type="com.tikitaka.cloudFunding.admin.model.vo.AdminVo" alias="Admin"/>
  	<typeAlias type="com.tikitaka.cloudFunding.admin.model.vo.bannerVo" alias="Banner"/>
  	<typeAlias type="com.tikitaka.cloudFunding.project.model.vo.ProjectVo" alias="Project"/>
  	<typeAlias type="com.tikitaka.cloudFunding.community.model.vo.PostVo" alias="Post"/>
  	<typeAlias type="com.tikitaka.cloudFunding.community.model.vo.ReplyVo" alias="Reply"/>
  </typeAliases>
  

  <mappers>
  	<!-- resources가 빌드 패쓰 루트이므로 mybatis부터 기술해야 한다.  -->
    <mapper resource="mybatis/sql/memberMapper.xml"/>
    <mapper resource="mybatis/sql/admin-mapper.xml"/>
    <mapper resource="mybatis/sql/projectMapper.xml"/>
    <mapper resource="mybatis/sql/communityMapper.xml"/>
  </mappers>
  
  
  
</configuration>